<%# Here is the page when a user purchases an item, they will be directed here, and they can then go to their profile to see the item they purchased. %>

<p>Congats on your purchase! </p>

<%= link_to 'Check out your profile to see all of your items!', profile_path(current_user.profile.id) %>