
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="col-md-3">
  <a class="navbar-brand" href="/">RocketLeet</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="col-md-7">
    <%= link_to 'Sell My Item', new_listing_path, class: "nav-item btn btn-primary"  %>
    <% if current_user%>
    <% if Profile.find_by(user_id: current_user.id)%>
    <%= link_to 'View My Profile', profile_path(Profile.find_by(user_id: current_user.id).id), class: "nav- btn btn-primary" %>
    <%= link_to 'View All Listings', listings_path, class: "nav- btn btn-primary" %>
    <% end %>
    <% end %>
    


</div>

  <div class="col-md-2 nav-right">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
       <li class="nav-item active"> 
        <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% end %>
       </li>
      </ul>
    </div>
    <div>
    </div>
    <div>
</div>
  </div>
</nav>


