<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <h1>Welcome to RocketLeet</h1>
        </div>
        <div class="col-md-4">
            <%= image_tag "rl_icon.jpeg", class:"main-img"%>
        </div>
        <div>
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-secondary" href="">Body</button>
                    <button type="button" class="btn btn-secondary">Wheels</button>
                    <button type="button" class="btn btn-secondary">Toppers</button>
                    <button type="button" class="btn btn-secondary">Goal Explosions</button>
                    <button type="button" class="btn btn-secondary">Boost</button>
                </div>

            </div>
        </div>
    </div>    
</div>