

<div class="jumbotron">
  <div class="container">

    <h1 class="display-4">New Listing</h1>

<%= render 'form', listing: @listing %>

<%= link_to 'Back', listings_path %>

  </div>
  </div>
</div>